.images {
    width: 280px;
    height: 250px; /* Set the height to your desired value */
    object-fit: cover;
    margin-top: 10%;
    transition: transform 0.999s ease;
  }
  .images:hover {
    transform: scale(1.04);
  }
  
  .text0 {
    font-size: 22px;
    text-align: center;
    padding-top: 60px;
  }
  .text1 {
    font-size: 48px;
    text-align: center;
  }
  .text2 {
    font-size: 14px;
    text-align: center;
  }
  .product-image {
    height: 300px; /* Adjust the desired height */
  }
  